body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7em;
    background-color: #eee;
}

.quote {
    display: flex;
    margin: 1em;
    padding: 2em;
    border-radius: 5px;
    background-color: white;
}

i {
    font-size: 3.5rem;
}

.quote-circle {
    width: 10em;
    height: 10em;
    margin-left: 2em;
    flex-shrink: 0;
    border-radius: 50%;
    border: 5px solid white;
    background-color: green;
    box-shadow: -1px 1px 12px 5px rgba(230,230,230,0.75);
}

.left {
    flex: 2;
}

.right  {
    flex: 1;
    flex-direction: column;
}