body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    display: flex;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    width: 25%;
    margin: 0 auto;
    padding: 0.5em 5em;
    border-radius: 5px;
    background-color: white;
}

h1 {
    font-size: 1.75em;
    margin-top: 1.5em;
}

hr {
    width: 9em;
    margin-left: 0;
    border: 1px solid #CBCBCB;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

label {
    font-weight: bold;
}

span {
    color: red;
}

input {
    height: 40px;
    border: 2px solid #CCC;
    border-radius: 5px;
}

#submit-btn {
    width: 100%;
    height: 50px;
    font-weight: bold;
    margin-bottom: 4em;
    border: none;
    color: white;
    background-color: #FF8C03;
}

.label-wrapper {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 5px;
    color: #8E8E8E;
}
